.outer-card-container {
  @apply mx-auto my-4;
}

.card-container {
  @apply flex md:grid md:grid-cols-4 gap-4 overflow-x-auto md:overflow-visible pb-4;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.card-grid{
    @apply grid gap-4 grid-cols-1 sm:grid-cols-2;
}

.bg-image-card{
    @apply bg-center bg-cover aspect-[4/3] relative rounded-md text-white hover:text-white;
}

.card-text{
    @apply absolute left-0 top-0 right-0 p-4 p-6 lg:p-8 bottom-[50%];
}

.top-center .card-text{
    @apply flex flex-col justify-center text-center;
}

.bottom-right .card-text{
    @apply bottom-0 top-auto left-[50%] pl-4 pt-0 text-right;
}

.bottom-center .card-text{
    @apply flex flex-col absolute justify-center text-center justify-end bottom-0 left-0 right-0 top-[50%];
}

.card-text h3{
    @apply text-lg lg:text-xl mt-0 pt-0 mb-1 lg:mb-2 text-white;
}

.card-text p{
    @apply mb-2 lg:mb-4 text-sm lg:text-base text-[#FAC832];
}

.card-text .cta{
    @apply caret text-xs lg:text-base caret-yellow;
}

.dark .card-text h3{
    @apply text-lg lg:text-xl mt-0 pt-0 mb-1 lg:mb-2 text-gray-800;
}

.dark .card-text p{
    @apply mb-2 lg:mb-4 text-sm lg:text-base text-pink-500;
}

.dark .card-text .cta{
    @apply text-gray-800 caret-rose;
}

.card-zoom {
  @apply block items-end no-underline rounded relative aspect-[3/4] justify-center overflow-hidden shadow-xl flex-none md:flex-auto min-w-[66vw] md:min-w-[0];
  scroll-snap-align: start;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-110;
}

.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover z-0;
}

.card-zoom-text {
  @apply mb-0 pb-0 z-10 absolute bottom-4 left-4 right-4;
}

.card-zoom-text h2 {
  @apply text-white leading-tight block text-sm sm:text-base md:text-lg m-0 mr-6;
}