.content-preloader{
  @apply flex h-screen justify-center items-center inset-0 fixed bg-gray-900;
}

.content-preloader .logo {
  @apply w-60 relative;
}

.content-preloader .logo::before {
  @apply absolute top-0 left-[-100%] w-[200%] h-full content-[''];
  background: linear-gradient(
    90deg,
    #C9442D 0%,
    #C9442D 40%,
    #FFF1CC 50%,
    #C9442D 60%,
    #C9442D 100%
  );
  animation: gradientSlide 2s linear infinite;
}

@keyframes gradientSlide {
  to {
    transform: translateX(50%);
  }
}

.content-preloader .logo path {
  @apply stroke-current;
  stroke-width: 2;
}