emoji-picker {
  --emoji-font-family: "Noto Color Emoji";
}

.emojiCursor {
  @apply absolute z-50 text-xl;
  pointer-events: none;
}

.emojiCursor .speech-bubble {
  @apply ml-6;
}

#emojiPickerButton {
  @apply inline-block;
}

#emojiPickerButton,
.emoji,
button.emoji,
.emojiCursor,
#chat-icon {
  @apply emoji-font;
}

.emojis {
  @apply sm:relative inline-block;
}

emoji-picker {
  @apply hidden sm:block sm:absolute sm:right-6 sm:top-6;
}

#chat-icon.active,
.speech-bubble {
  @apply bg-blue-800;
}

.speech-bubble {
  @apply absolute text-white px-5 py-2 text-sm w-auto z-50 whitespace-nowrap;
  border-radius: 0 40px 40px 40px;
  font-family: Gabarito, sans-serif;
}

#chat-input {
  @apply text-sm border-none outline-none bg-transparent text-white;
}

#chat-input,
#hidden-div {
  white-space: nowrap;
  visibility: visible;
  font-weight: normal;
}

#hidden-div {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

.orange-bg {
  background-color: rgb(229, 58, 58);
}

@media (prefers-color-scheme: dark) {
  #chat-icon.active,
  .speech-bubble {
    @apply bg-blue-200;
  }
  .speech-bubble,
  #chat-input {
    @apply text-blue-800;
  }
  .orange-bg {
    background-color: rgb(241, 140, 184);
  }
}