@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
p {
  @apply mb-6;
}

h1 {
  @apply text-4xl max-w-4xl;
}

h2 {
  @apply text-2xl mt-12 mb-4;
}

h3 {
  @apply text-2xl mt-8 mb-4;
}

h4,
h5,
h6 {
  @apply text-base font-bold pb-2 mt-6 mb-2 border-b-2 border-stone-500;
}

a {
  text-decoration-line: underline;
  text-decoration-color: rgb(109, 193, 109);
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration-color: black;
}

.container {
  @apply w-[calc(100%-2rem)];
}

article {
  @apply pt-24 sm:pt-32 pb-16;
}

article p,
article ul,
article h3,
article h4,
article h5,
article h6 {
  @apply max-w-3xl;
}

article li {
  @apply list-disc list-outside ml-4 pl-2;
}

article ul {
  @apply mb-12;
}

.navigation {
  @apply py-10;
}

.navigation h1 {
  @apply text-base uppercase m-0;
}

.navigation h1 a {
  @apply m-0 mr-4;
  text-decoration: none;
  text-decoration-thickness: 0;
}

.navigation ul {
  @apply flex justify-between items-center gap-4;
}

.gallery {
  @apply grid grid-cols-2 gap-4 mt-10 mb-8;
}

.social-button {
  @apply p-2 bg-white inline-block rounded-md border border-stone-200;
  line-height: 1;
}

.social-button:hover {
  @apply bg-stone-200;
}

.social-button svg {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.image-collage {
  @apply sm:flex mb-10 pt-6 gap-2 overflow-x-hidden relative;
}

.image-collage img {
  @apply rounded-md max-h-[272px];
}

.image-collage img:nth-child(2),
.image-collage img:nth-child(3) {
  @apply hidden sm:block;
}
