@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tokens.css";
@import "utilities.css";
@import "typography.css";
@import "buttons.css";
@import "navigation.css";
@import "contact-grid.css";
@import "footer.css";
@import "resume.css";
@import "about.css";
@import "testimonial.css";
@import "animations.css";
@import "portfolio.css";
@import "services.css";

body {
  @apply bg-gray-100 dark:bg-gray-950;
}

picture img {
  @apply w-full;
}

.ui-content {
  @apply z-0 relative;
}

.zoom-active .ui-content {
  @apply static;
}

.open-menu .ui-content:after {
  @apply fixed top-0 left-0 w-screen h-screen bg-black -z-10 opacity-0 pointer-events-none transition-opacity duration-200;
  content: "";
}

.open-menu .ui-content:after {
  @apply opacity-70 z-50;
}

.site-logo {
  @apply ml-[16px] md:ml-[60px] mb-8 relative top-[-3px] block md:hidden text-primary-600 dark:text-primary-600 my-[.45rem];

  svg {
    @apply block max-w-[42px];
  }

  path {
    @apply fill-current;
  }
}

.logo {
  @apply text-primary-600 dark:text-primary-600;
}

.content-container {
  @apply mx-auto max-w-[calc(100%-16px)] lg:max-w-[calc(100%-32px)];
}

.content-container,
.content-container-wo {
  @apply mx-auto 2xl:max-w-7xl;
}

.content-container.wide,
.content-container-wo.wide {
  @apply 2xl:max-w-7xl 3xl:max-w-[2400px];
}

.portfolio-group-heading {
  @apply content-container 2xl:mx-auto px-[16px] lg:px-[32px] pb-3 2xl:pb-6;
}

.primary-heading h1 {
  @apply max-w-none;
}

.primary-heading h1 {
  @apply mt-12 lg:mt-0 mb-0;
}

.sub-heading {
  @apply text-base md:text-lg  font-normal mb-12 md:mb-16 max-w-prose;
}

.toc-toggle {
  flex-shrink: 0;
  transition: background-color 0.2s;
}

.toc-container ol {
  @apply max-w-full;
}

caption {
  @apply text-xs sm:text-base text-gray-900 my-2 mx-4 sm:my-4 block text-center dark:text-gray-300;
}

/* Home Page */

.portfolio-intro__icon {
  @apply inline;
}

.project-list {
  @apply table md:block w-auto md:w-full text-xs sm:text-xs lg:text-sm text-gray-400 max-w-none mb-4;
}

.project-list div {
  @apply table-row md:inline-block mr-6;
}

.project-list dt {
  @apply table-cell text-gray-400 dark:text-gray-400 md:inline whitespace-nowrap md:whitespace-normal font-semibold w-fit md:w-auto pr-4 md:pr-2;
}

.project-list dd {
  @apply table-cell md:inline text-gray-800 dark:text-gray-200 pl-4 md:pl-0 ml-0;
}

/* Resume Page */

.download-resume {
  @apply mb-6 relative;
}

.feather {
  @apply inline text-primary-500;
}

.feather path {
  @apply fill-current;
}

.video-player {
  @apply aspect-[40/27] flex flex-col items-center justify-center sm:rounded-md overflow-hidden bg-black;
}

.video-player video {
  @apply max-w-full h-auto block mx-auto;
}

/* Custom Controls (Optional) */
/* You can hide the default controls and implement custom controls if needed.
This gives you more control over the look and feel of the player: */

/* Hide default controls */
video::-webkit-media-controls {
  @apply hidden !important;
}

/* Resume Page */

.job-title {
  @apply mb-0;
}

.job-metadata {
  @apply mt-0 mb-4 text-primary-700;
}

/* QQL Page */

.qql-collection .gallery-row .media-wrapper {
  @apply mb-4;
}

/* Interplay Page */

.interplay-grid {
  @apply grid md:grid-cols-2 gap-8;
}

.zoom-container {
  @apply aspect-[40/27];
}

/* Zoomable styles */
.zoomable {
  @apply cursor-pointer transition-transform duration-300 ease-in-out z-10 flex flex-col justify-center;
}

.zoom-fullscreen {
  @apply z-[999] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out;
}

/* Overlay */
.page-overlay {
  @apply hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 z-[999] pointer-events-none;
}

.zoom-active .page-overlay {
  @apply block pointer-events-auto;
}

/* Ensure media maintains a 4:3 aspect ratio */
.zoomable[data-type="video"],
.zoomable img {
  @apply w-auto h-auto;
}

.text-container {
  @apply w-full font-serif;
}

.text-paragraph {
  @apply mb-0 overflow-hidden uppercase leading-tight;
}

.top {
  @apply mt-2;
}

.announcement {
  @apply mb-16 flex gap-4 text-center md:text-left text-xs;
}

.announcement__content {
  @apply grow sm:flex sm:justify-between gap-4;
}

.announcement__date {
  @apply dark:text-primary-500 whitespace-nowrap;
}

.announcement__text {
  @apply grow sm:flex-1;
}

.announcement__link {
  @apply whitespace-nowrap;
}

.greeting {
  @apply mb-8 text-lg md:text-xl;
}

.greeting__wave-container {
  @apply block md:inline text-5xl md:text-xl relative;
}

.greeting__wave {
  @apply inline-block animate-[wave_5s_ease-in-out_infinite] mr-1;
}

.gallery-row {
  @apply grid grid-cols-3 md:grid-cols-3 gap-2;

  .image-wrapper {
    @apply flex justify-center;
  }

  img {
    @apply mb-4 w-full;
  }

  h3 {
    @apply mt-0 mb-12;
  }
}

/* Infinite Scroll */
.infinite-scroll {
  --item-count: 8;
  --item-width: min(300px, calc(100vw - 2rem));
  --total-width: calc(var(--item-width) * var(--item-count) * 2);

  @screen sm {
    --item-width: 380px;
  }

  @screen 2xl {
    --item-width: 460px;
  }
  @media (min-width: 2460px) {
    --item-width: 540px;
  }

  @apply relative overflow-hidden;
}

.infinite-scroll__scroller {
  @apply flex;
  width: var(--total-width);
  animation: scroll 40s linear infinite;
}

.infinite-scroll__item {
  @apply block relative transition-all duration-300 ease-in-out;
  width: var(--item-width);
}

.infinite-scroll__image {
  --s: calc(var(--item-width) / 40 * 27);
  @apply transition-all duration-300;
  box-sizing: border-box;
  width: var(--item-width);
  height: var(--s);
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.infinite-scroll:hover .infinite-scroll__item {
  @apply opacity-50;
}

.infinite-scroll__item:hover {
  @apply !opacity-100;
}

.infinite-scroll__item:hover .infinite-scroll__image {
  @apply shadow-lg;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--item-width) * var(--item-count) * -1));
  }
}

/* Pause animation on hover */
.infinite-scroll:hover .infinite-scroll__scroller {
  animation-play-state: paused;
}

#meetChris .curtain-title {
  @apply uppercase text-[1.8rem] lg:text-[2rem] h-0 overflow-y-hidden justify-self-stretch mt-1 md:mt-1 font-black;
  font-family: "transducer-variable", sans-serif;
  font-style: normal;
}
