.open-menu {
  @apply overflow-y-hidden;
}

.menu-button {
  @apply relative align-top w-[calc(var(--navbar-width)*.75)] md:w-[var(--navbar-width)] h-[calc(var(--navbar-width)*.75)] md:h-[var(--navbar-width)] mx-auto bg-gray-100 dark:bg-gray-950 hover:md:bg-primary-600;
}

.open-menu .menu-button {
  @apply bg-transparent;
}

.menu-button:hover i:before,
.menu-button:hover i:after {
  @apply bg-gray-900 dark:bg-white;
}

.menu-button i {
  @apply block relative mx-auto h-2 w-[35%];
  transition: transform 100ms ease-in-out;
}

.menu-button i:before,
.menu-button i:after {
  @apply block overflow-hidden bg-gray-600 md:bg-primary-600 dark:md:bg-white w-full h-[2px] absolute top-[50%] content-[""];
  transition: transform 100ms ease-in-out, backgroundColor 100ms ease-in-out;
}

.menu-button i:before {
  @apply -translate-y-[6px];
}

.menu-button i:after {
  @apply translate-y-[2px];
}

.open-menu .menu-button i {
  @apply -translate-y-[2px];
}

.open-menu .menu-button i:before {
  @apply -rotate-45 translate-y-2/4 bg-gray-400 dark:bg-white;
}

.open-menu .menu-button i:after {
  @apply rotate-45 translate-y-2/4 bg-gray-400 dark:bg-white;
}

.navigation {
  @apply flex gap-0 h-screen mb-6 md:mb-0;
}

.navigation .logo {
  @apply block w-[42px] h-auto my-0 mx-auto p-0 text-primary-500 dark:text-primary-600 dark:hover:text-primary-400 transition-all duration-150 ease-in-out;
}

.navigation .logo path {
  @apply fill-current;
}

.navigation .navigation-list .logo {
  @apply w-[56px] md:w-[72px] ml-0 mr-auto;
}

.branding {
  @apply order-1 md:order-2 w-[calc(var(--navbar-width)*.75)] md:w-[var(--navbar-width)] shrink md:h-screen relative;
}

.open-menu .branding {
  @apply cursor-pointer bg-gray-100 dark:bg-gray-950 border-r md:border-l border-gray-300 dark:border-gray-900;
}

.menu {
  @apply order-2 md:order-1 md:h-screen grow bg-gray-100 dark:bg-gray-950;
}

.menu ul {
  @apply w-[220px];
}

.menu a {
  @apply p-4 py-6 md:py-6 block font-normal capitalize leading-none no-underline decoration-2 text-primary-600 dark:text-white border-b border-gray-300 dark:border-gray-900  dark:bg-gray-950 hover:bg-gray-100 dark:hover:bg-primary-600;
  font-variation-settings: "wght" 140;
}

.site-title {
  @apply md:bottom-0 md:left-0 w-[calc(var(--navbar-width)*.75)] md:w-[var(--navbar-width)] h-[calc(var(--navbar-width)*.66)] block absolute p-0;
}

.site-title svg {
  @apply w-[calc(var(--navbar-width)/2*.75)] md:w-[calc(var(--navbar-width)/2)] h-[calc(var(--navbar-width)*.66)] mx-auto;
}

.open-menu .site-title {
  @apply bottom-2 md:bottom-0 md:left-0;
}
