.notifications {
  @apply space-y-6;
}

.notifications--notification-item {
  @apply text-heading no-underline text-highlight block;
}

.notifications--notification-item .notifications--notification-overline {
  @apply border-t-0 pt-2 font-sans pb-1 font-medium text-body block text-gray-400 uppercase;
}

.notifications--notification-item:hover .notifications--notification-overline {
  @apply opacity-80 no-underline;
}

.notifications--notification-item span {
  @apply leading-tight block;
}

.notifications--notification-item:hover span {
  @apply underline;
}
