/* Portfolio Grid Styles */
.portfolio-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-2 lg:gap-4 mb-24;
}

/* Portfolio Item Styles */
.portfolio-item {
  @apply block no-underline transition-all duration-500 ease-out;
}

.portfolio-item__image-wrapper {
  @apply relative overflow-hidden md:rounded-md aspect-[200/135] bg-gray-900;
}

.portfolio-item__image {
  @apply w-full h-full object-cover transition-all duration-700 ease-out group-hover:scale-105 mb-0;
}

/* Contact Section */
.portfolio-contact {
  @apply max-w-2xl mx-auto mt-32 mb-16;
}

/* Update container for new layout */
.portfolio-container {
  @apply mx-auto pt-48 md:p-12 lg:p-24;
}

.portfolio-container h1{
  @apply max-w-[calc(100%-2rem)] mx-auto text-center mb-12 pt-24;
}

.portfolio-container .sub-heading {
  @apply text-center mb-16 md:mb-24 text-gray-400 max-w-3xl mx-auto;
}

.portfolio-content-wrapper {
  @apply content-container flex flex-col items-center mb-48 max-w-[calc(100%-32px)] mx-auto;
}

.portfolio-group-heading {
  @apply content-container !pt-0 2xl:mx-auto md:pb-6  max-w-[calc(100%-32px)] mx-auto;
}

.portfolio-group-heading dd {
  @apply text-white/70;
}

.portfolio-list {
  @apply md:mx-auto max-w-6xl mx-auto mb-12 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-2 lg:gap-6;
}

.portfolio-list .zoom-container {
  @apply mb-4;
}

.portfolio-list__item {
  @apply mb-12;
}

.portfolio-list__link {
  @apply pb-0 mb-0 block no-underline text-foreground;
}

.portfolio-list__image {
  @apply rounded-2xl transition-all duration-300;
}

a.portfolio-list__link:hover .portfolio-list__image {
  @apply rounded-[250px];
}

.zoom-container .portfolio-list__image {
  @apply mb-0;
}

.portfolio-list__title,
.portfolio-list__description {
  @apply my-2 md:leading-normal ~text-base/sm;
}

.portfolio-list__title {
  @apply mt-4 mb-1.5;
}

.portfolio-list__description {
  @apply my-0 ~text-base/sm text-muted;
}
