.services {
  --spacing: 3rem;
}

.services__container {
  @apply grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 ~gap-2/6;
}

.services__package {
  @apply items-start border-t-4 border-primary-300 pt-4;
}

.services__package:nth-child(odd) {
  @apply pr-4;
}

.services__title {
  @apply mt-2 mb-0;
}

.services__description {
  @apply text-foreground mb-8 text-body font-medium capitalize;
}

.services__package svg {
  @apply text-green-500 mt-1;
}

.services__service-title {
  @apply text-body font-medium flex gap-[12px] items-start text-highlight mb-0;
}

.services__service-description {
  @apply ml-[36px] text-body mb-8 lg:min-h-[54px] 2xl:min-h-[72px];
}

.services__ideal {
  @apply mt-8 italic text-muted text-body;
}

@layer components {
  .services {
    @apply grid gap-8 md:gap-12 lg:gap-16;
  }

  .services__service {
    @apply items-start border-t-4 border-primary-300 pt-4;
  }

  .services__service-icon {
    @apply w-6 h-6 stroke-primary-300 shrink-0 mt-0.5;
  }

  .services__service-title {
    @apply text-white mb-0 flex items-start gap-3 text-body font-medium text-gray-400;
  }

  .services__service-description {
    @apply ml-9 mb-8 text-body lg:min-h-[54px] 2xl:min-h-[72px] text-white;
  }

  .services__ideal {
    @apply text-gray-400 mt-8 text-body italic;
  }
}
