html {
  font-size: var(--font-size-base);
}

body {
  @apply font-normal text-base md:text-lg text-gray-500 dark:text-gray-400;
  font-variation-settings: "wght" 140;
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply mb-6;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-gray-950 dark:text-white;
  font-variation-settings: "wght" 140;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  @apply max-w-3xl;
}

p,
ul,
ol {
  @apply mb-12 text-gray-500 dark:text-gray-400;
}

h1 {
  @apply text-6xl md:text-7xl md:max-w-3xl 2xl:max-w-7xl mb-6;
}

h2 {
  @apply text-xl 2xl:text-3xl mt-16 sm:mt-24 mb-6;
  font-variation-settings: "wght" 140;
}

h3 {
  @apply text-base 2xl:text-2xl mb-2 mt-6 sm:mt-12 dark:text-gray-200;
  font-variation-settings: "wght" 240;
}

h4,
h5,
h6 {
  @apply text-lg pb-2 mt-6 sm:mt-12 mb-2 dark:border-gray-200;
  font-weight: 500;
}

a {
  @apply dark:text-gray-200 dark:decoration-primary-500 dark:decoration-solid dark:hover:decoration-white dark:hover:text-white underline underline-offset-4 decoration-solid decoration-2 decoration-primary-300 hover:decoration-primary-700;
  text-decoration-skip-ink: auto;
  font-variation-settings: "wght" 480;
}

.primary-heading {
  @apply text-5xl md:text-7xl mt-12 mb-12 -ml-3 mr-0 lowercase;
  font-variation-settings: "wght" 140;
}

.primary-heading:before {
  @apply inline-block mr-[-0.5em];
  content: "/";
}

.primary-heading-no-slash {
  @apply text-5xl md:text-7xl mt-2 md:mt-0 mb-12 md:mb-24 font-light lowercase;
}

.sub-heading {
  @apply text-xl md:text-3xl mb-12 md:mb-16 max-w-3xl;
  line-height: 1.32;
}

.sub-heading-curated {
  @apply text-xl md:text-3xl -mt-1 mb-12 relative;
}

article {
  @apply pt-16 md:pt-0;
}

article ul {
  @apply mb-12 list-disc ml-4 pl-2;
}

article li {
  @apply mb-2;
}

caption {
  @apply text-xs sm:text-base text-gray-900 my-2 mx-4 sm:my-4 block text-center dark:text-gray-300;
}

hr {
  @apply w-[40px] border-primary-500 border-t-4 h-[0] pb-0;
}

p + hr {
  @apply mt-0 mb-12;
}
