.utility-bar {
  @apply fixed left-0 right-0 bottom-0 sm:grid sm:grid-cols-4 items-center pb-8 sm:pb-0 bg-white z-10;
}

.utility-bar.hidden {
  opacity: 0;
}

.to-top{
  @apply sm:block;
}

.to-top button {
  @apply mr-3 p-2 z-10 opacity-0 border border-blue-300 rounded-full cursor-pointer float-right;
  flex: 0.5;
}

.to-top button svg {
  @apply max-w-[20px] max-h-[20px];
}

.to-top button svg path {
  @apply stroke-current text-blue-300;
}

.to-top button i {
  @apply block w-[20px] h-[20px] text-center;
}

.page-title {
  @apply hidden sm:block text-sm text-blue-500 ml-3 uppercase leading-tight float-left opacity-0;
}

.page-title,
.to-top button {
  transition: opacity 0.5s ease-in-out;
}