@layer utilities {
  /* Base Typography */

  .font-thin {
    font-variation-settings: 'wdth' 100, 'wght' 100;
  }
  .font-extralight {
    font-variation-settings: 'wdth' 100, 'wght' 200;
  }
  .font-light {
    font-variation-settings: 'wdth' 100, 'wght' 300;
  }
  .font-normal {
    font-variation-settings: 'wdth' 100, 'wght' 400;
  }
  .font-medium {
    font-variation-settings: 'wdth' 100, 'wght' 500;
  }
  .font-semibold {
    font-variation-settings: 'wdth' 100, 'wght' 600;
  }
  .font-bold {
    font-variation-settings: 'wdth' 100, 'wght' 700;
  }
  .font-extrabold {
    font-variation-settings: 'wdth' 100, 'wght' 800;
  }
  .font-black {
    font-variation-settings: 'wdth' 100, 'wght' 900;
  }

  .max-w-8xl {
    @apply max-w-[2180px];
  }

  .max-w-9xl {
    @apply max-w-[2460px];
  }

  .heading-base {
    @apply text-gray-950 dark:text-white mb-6 font-thin;
  }

  .text-shadow{
    text-shadow: 0 4px 12px rgba(0,0,0,.6),0 6px 36px rgba(0,0,0,1);
  }

  .content-width {
    @apply max-w-3xl;
  }

  .wide-content {
    @apply max-w-[1600px];
  }

  /* Layout */
  .content-spacing {
    @apply mx-[16px] md:mx-[32px] md:ml-[112px];
  }

  .hr-separator {
    @apply mt-0 mb-32 w-[48px] bg-primary-700 dark:bg-primary-700 border-none h-0.5 overflow-hidden;
  }

  .zoom-placeholder {
    margin: 0;
    padding: 0;
    border: none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  /* Interactive Elements */
  .interactive-hover {
    @apply transition-colors duration-150 ease-in-out;
  }

  .animate-scroll {
    animation: scroll 45s linear infinite;
    will-change: transform;
  }

  .pause-animation {
    animation-play-state: paused;
  }

  /* Custom Animations */
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(
        calc(-50% - 0.5px)
      ); /* Prevent subpixel rendering issues */
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes wave {
    40% {
      transform: rotate(0deg);
    }
    44% {
      transform: rotate(-20deg);
    }
    48% {
      transform: rotate(10deg);
    }
    52% {
      transform: rotate(-10deg);
    }
    56% {
      transform: rotate(5deg);
    }
    60% {
      transform: rotate(0deg);
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s linear;
}

.hidden {
  display: none;
}

.notready {
  padding-top: var(--s);
}

.ready {
  padding-top: 0;
}

.hidden-until-loaded {
  @apply invisible;
}
