@layer utilities {
  /* Base Typography */

  .font-thin {
    font-weight: 100;
    font-variation-settings: 'wght' 100;
  }
  .font-extralight {
    font-weight: 200;
    font-variation-settings: 'wght' 200;
  }
  .font-light {
    font-weight: 300;
    font-variation-settings: 'wght' 300;
  }
  .font-normal {
    font-weight: 400;
    font-variation-settings: 'wght' 400;
  }
  .font-medium {
    font-weight: 500;
    font-variation-settings: 'wght' 500;
  }
  .font-semibold {
    font-weight: 600;
    font-variation-settings: 'wght' 600;
  }
  .font-bold {
    font-weight: 700;
    font-variation-settings: 'wght' 700;
  }
  .font-extrabold {
    font-weight: 800;
    font-variation-settings: 'wght' 800;
  }
  .font-black {
    font-weight: 900;
    font-variation-settings: 'wght' 900;
  }

  .max-w-8xl {
    @apply max-w-[2180px];
  }

  .max-w-9xl {
    @apply max-w-[2460px];
  }

  .heading-base {
    @apply mb-6 font-thin;
  }

  .top {
    @apply mt-2;
  }

  .text-shadow {
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), 0 6px 36px rgba(0, 0, 0, 1);
  }

  .content-width {
    @apply max-w-3xl;
  }

  .wide-content {
    @apply max-w-[1600px];
  }

  /* Layout */
  .content-spacing {
    @apply mx-[16px] md:mx-[32px] md:ml-[112px];
  }

  .hr-separator {
    @apply mt-0 mb-8 w-[48px] bg-gray-400 border-none h-0.5 overflow-hidden;
  }

  .overline{
    @apply mb-4 text-body uppercase tracking-wider font-sans font-semibold block text-primary-500;
    text-decoration-line: none;
  }

  /* Interactive Elements */
  .interactive-hover {
    @apply transition-colors duration-150 ease-in-out;
  }

  .animate-scroll {
    animation: scroll 45s linear infinite;
    will-change: transform;
  }

  .pause-animation {
    animation-play-state: paused;
  }

  .fade-in-element {
    @apply opacity-0 transition-opacity duration-700 ease-in-out;
  }

  .fade-in-element.visible {
    @apply opacity-100;
  }

  /* Custom Animations */
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(
        calc(-50% - 0.5px)
      ); /* Prevent subpixel rendering issues */
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes wave {
    40% {
      transform: rotate(0deg);
    }
    44% {
      transform: rotate(-20deg);
    }
    48% {
      transform: rotate(10deg);
    }
    52% {
      transform: rotate(-10deg);
    }
    56% {
      transform: rotate(5deg);
    }
    60% {
      transform: rotate(0deg);
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s linear;
}

.hidden {
  display: none;
}

.notready {
  padding-top: var(--s);
}

.ready {
  padding-top: 0;
}

.hidden-until-loaded {
  @apply invisible;
}
