@layer utilities {
  /* Base Typography */
  .base-text {
    @apply text-base md:text-lg text-gray-500 dark:text-gray-400;
    font-variation-settings: "wght" 140;
  }

  .max-w-8xl {
    @apply max-w-[2180px];
  }

  .max-w-9xl {
    @apply max-w-[2460px];
  }

  .heading-base {
    @apply text-gray-950 dark:text-white mb-6;
    font-variation-settings: "wght" 140;
  }

  .content-width {
    @apply max-w-3xl;
  }

  .wide-content {
    @apply max-w-[1600px];
  }

  /* Layout */
  .content-spacing {
    @apply mx-[16px] md:mx-[32px] md:ml-[112px];
  }

  hr {
    @apply mt-12 mb-8 sm:mt-16 sm:mb-12 w-[48px] bg-primary-500 border-none h-0.5 overflow-hidden;
  }

  /* Interactive Elements */
  .interactive-hover {
    @apply transition-colors duration-150 ease-in-out;
  }

  .animate-scroll {
    animation: scroll 45s linear infinite;
    will-change: transform;
  }

  .pause-animation {
    animation-play-state: paused;
  }

  /* Custom Animations */
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(
        calc(-50% - 0.5px)
      ); /* Prevent subpixel rendering issues */
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes wave {
    40% {
      transform: rotate(0deg);
    }
    44% {
      transform: rotate(-20deg);
    }
    48% {
      transform: rotate(10deg);
    }
    52% {
      transform: rotate(-10deg);
    }
    56% {
      transform: rotate(5deg);
    }
    60% {
      transform: rotate(0deg);
    }
  }
}

.emoji-font {
  font-family: "Noto Color Emoji";
}

.wide-font {
  @apply uppercase;
  font-family: "condor-wide", sans-serif;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s linear;
}

.hidden {
  display: none;
}

.loader {
  border: 8px solid #565656;
  /* Light grey */
  border-top: 8px solid #eb7272;
  /* Green */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
